.brand-logo{
    margin-left: 80px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 30px;
}
.fav{
    padding:0 8px;
}
.fav:hover{
    background-color: rgb(206, 95, 95);
}